__pycache__/
*.pyc
venv/
.env

node_modules/
.next/

.DS_Store
Thumbs.db

**/ml/datasets/train/
**/ml/datasets/valid/
**/ml/datasets/test/

**/runs/
**/results/
!**/results/
!**/results/results.csv
!**/results/args.yaml
yolo11*.pt
yolov8*.pt
download.py
